<div class="table-responsive" data-ng-if="recordSheetTab.army.gameSize !== 'Custom'">
  <table class="table table-bordered">
    <caption>Conquest of Kings Records Sheet</caption>
    <tbody>
      <tr>
        <td><b>Player Name:</b></td>
        <td><b>Faction:</b> {{recordSheetTab.army.faction}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive" data-ng-if="recordSheetTab.army.gameSize !== 'Custom'">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Round</th>
        <th>Game Result</th>
        <th>Motivation</th>
        <th><abbr title="Leadership">LD</abbr> Points</th>
        <th>Rank Points</th>
        <th>Opponent</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="round in [1, 2, 3, 4, 5]">
        <td class="text-center">{{round}}</td>
        <td class="text-center">W / L / T</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive" data-ng-repeat="(list, types) in recordSheetTab.army.lists">
  <table class="table table-bordered">
    <caption>{{list}}</caption>
    <thead>
      <tr>
        <th>Model Name</th>
        <th>Type</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody data-ng-repeat="(type, numbers) in types" >
      <tr data-ng-repeat="model in recordSheetTab.models[type]" data-ng-if="numbers[$index]">
        <td>{{model.name}}</td>
        <td>Rank {{model.rank}}{{model.character ? ' Character' : '' }} {{type}}</td>
        <td class="text-right">{{numbers[$index]}}</td>
      </tr>
    </tbody>
  </table>
</div>