<div data-uib-accordion>
  <div data-ng-repeat="(list, types) in army.lists" data-uib-accordion-group data-is-open="$first">
    <div data-ng-if="list === 'Core List'">
      <div data-uib-accordion-heading>{{list}}</div>

      <div data-uib-accordion data-close-others="false">
        <div data-ng-repeat="(type, numbers) in types" data-uib-accordion-group data-heading="{{type}} ({{ranks}}/{{army.gameSize[type]}})" data-is-open="$first" data-wok-type="type">
          <div data-ng-repeat="model in models[type]" data-wok-model="model" data-number="numbers[$index]">{{model.name}}</div>
        </div>
      </div>
    </div>

    <div data-ng-if="list !== 'Core List'" data-wok-option-list>
      <div data-uib-accordion-heading>{{list}} ({{options | optionsFilter}}/{{army.gameSize.Options | optionsFilter}})</div>

      <div data-uib-accordion data-close-others="false">
        <div data-ng-repeat="(type, numbers) in types" data-uib-accordion-group data-heading="{{type}}" data-is-open="$first">
          <div data-ng-repeat="model in models[type]" data-wok-model="model" data-number="numbers[$index]">{{model.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>