/**/
@import '../../bower_components/bootstrap/less/bootstrap.less';
@import '../../bower_components/Font-Awesome/less/font-awesome.less';

@import 'print';
@import 'variables';

/* structure */
header > h1 { margin: 0; }

abbr[title], abbr[data-original-title] {
  border-bottom: none;
  cursor: text;
}

.nav-pills {
  .hidden-print();
  background-color: @nav-bg-bottom;
  background-image: url(/assets/images/nav-gradient.png);
  background-image: -moz-linear-gradient(@nav-bg-top, @nav-bg-bottom);
  background-image: -o-linear-gradient(@nav-bg-top, @nav-bg-bottom);
  background-image: -webkit-linear-gradient(@nav-bg-top, @nav-bg-bottom);
  background-image: linear-gradient(@nav-bg-top, @nav-bg-bottom);
  text-align: center;

  > li {
    display: inline;
    float: none;

    > a {
      color: @nav-link-color;
      display: inline-block;

      &:hover, &:focus { color: @nav-pills-active-link-hover-color; }
    }
  }
}

.panel-heading {
  padding: 0;

  > .panel-title > a {
    display: block;
    padding: @panel-heading-padding;

    &:hover, &:focus {
      text-decoration: none;
      outline: none;
    }
  }
}

.tab-content {
  padding-bottom: @line-height-computed;
  padding-top: @line-height-computed;
}

footer {
  .text-center();

  border-top: 1px solid @table-border-color;
  font-size: @font-size-small;
  padding-top: 1.5em;
}

/* faction */
#game-size { max-width: 28em; }

.faction {
  > label {
    border: 1px solid @table-border-color;
    background: @faction-bg;
    cursor: pointer;
    margin: 0;
    padding: 9px;
    position: relative;

    &:hover, &.selected { background: lighten(@faction-bg, 12.5%); }
  }
}

/* army */
.panel-body { padding-bottom: 0; }

.model {
  height: 3em;
  line-height: 2.5;
  padding-right: 8em;
  position: relative;

  .name {
    display: block;
    overflow: hidden;
    margin-right: 0;
    white-space: nowrap;
  }

  .actions {
    background: inherit;
    position: absolute;
    right: 0;
    top: 0;
  }

  .number {
    display: inline-block;
    text-align: center;
    width: 2em;
  }

  .btn { width: 2.5em; }
}

/* record sheet */
.table {
  caption {
    color: inherit;
    font-size: @font-size-large;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  th {
    text-align: center;
    text-transform: uppercase;
  }
}
