<!DOCTYPE html>
<html data-ng-app="wokArmyBuilder" data-ng-controller="ArmyBuilderCtrl">
  <head><% styles.forEach(function (file) { %>
    <link href="<%= file %>" rel="stylesheet"><% }); %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Wrath of Kings Army Builder</title>
  </head>
  <body>
    <div class="container">
    </div>

    <div class="container" data-ui-view="main"></div>
    <% scripts.forEach(function (file) { %>
    <script src="<%= file %>"></script><% }); %>
  </body>
</html>
