<!DOCTYPE html>
<html data-ng-app="wokArmyBuilder">
  <head><% styles.forEach(function (file) { %>
    <link href="<%= file %>" rel="stylesheet"><% }); %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Wrath of Kings Army Builder</title>
  </head>

  <body>
    <div class="container">
      <header class="hidden-print row">
        <img class="img-responsive" src="/assets/images/WoK-header.png">
      </header>

      <div class="row" data-ng-controller="ArmyBuilderController as armyBuilder" data-ui-view></div>
    </div>
    <% scripts.forEach(function (file) { %>
    <script src="<%= file %>"></script><% }); %>
  </body>
</html>
