<!DOCTYPE html>
<html data-ng-app="wokArmyBuilder">
  <head><% styles.forEach(function (file) { %>
    <link href="<%= file %>" rel="stylesheet"><% }); %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72602136-1', 'auto');
      ga('send', 'pageview');
    </script>

    <title>Wrath of Kings Army Builder</title>
  </head>

  <body>
    <div class="container">
      <header class="hidden-print row">
        <h1>
          <img class="img-responsive" alt="Wrath of Kings Army Builder" src="/assets/images/wok-header.png">
        </h1>
      </header>

      <main class="row" data-ng-view>
        <noscript>
          <p class="alert alert-info">This Wrath of Kings army builder requires JavaScript to be enabled in your browser.</p>
        </noscript>
      </main>

      <footer class="hidden-print row text-center">
        <p>This website is completely unofficial and in no way endorsed by CoolMiniOrNot <abbr title="Incorporated">Inc</abbr>.</p>

        <p>This Wrath of Kings army builder is open source and maintained on <a href="https://github.com/dsusco/wok-army-builder">GitHub</a>.</p>
      </footer>
    </div>
    <% scripts.forEach(function (file) { %>
    <script src="<%= file %>"></script><% }); %>
  </body>
</html>
